/*
   title: Builders
  markup: XHTML 1.0 Strict
sections: [1]:reset
          [2]:typography
          [3]:layout
          [4]:forms
          [x]:clearfix
*/

/* [1]:reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to highlight inserts */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* [2]:typography */

body {
  color: #111;
  background: #500;
	font-size: .625em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3 { font-weight: normal; }

/* rhythm: 22px */

h1 {
  font-size: 4.8em;	
  line-height: 1.833;
}

h2 {
	font-size: 3.6em;
  line-height: 1.222;
  margin: 0 0 .611em 0;
}

.projects h2,
.profile h2 {
	font-size: 2.4em;
  line-height: .917;	
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
	font-size: 2.4em;
  line-height: 2.75;
}

p {
	font-size: 1.6em;
	line-height: 1.375;
}

section#extra p,
section#extra ul,
section#extra ol,
section#extra dl {
  color: #333;	
  font-size: 1.5em;
  line-height: 1.467;
}

section#extra ul,
section#extra ol,
section#extra dl {
  margin: 1.467em 0;
}

footer p {
	font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .0859375em;
}

small {
  font-size: 1.2em;
  line-height: 1.833;	
}

blockquote {
	margin: 1.1em;
  padding: 1.1em;
  background: #EEE;
  color: #222;
}

blockquote p {
  font-size: 1.5em;
  line-height: 1.467;
}

section p {
  text-indent: 1.375em;
}

ul, ol, dl {
	font-size: 1.6em;
	margin: 1.375em 0;
	line-height: 1.375;	
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: lower-roman;	
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.375em;
}

th, td {
  font-size: 1.2em;
  line-height: 1.833;	
  text-align: left;
  padding: 0 1.5em 0 0;
}

a {
  color: #03E;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

/* [3]:layout */

#header {
	background: #FFD;
}

#header h1 {
  color: #600;
	font-size: 2.4em;
  padding: 0 .458em;
  font-weight: bold;
  line-height: 1.833;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#header h1 em {
	color: #C00;
  font-style: normal;
}

#header h1 span {
	color: #FA7;
  font-weight: normal;
	font-variant: small-caps;
	text-transform: lowercase;
}

#header .nav {
	background: #C00;
}

#header .nav ul {
	margin: 0;
  padding: 0;
  float: left;
}

#header .nav ul.user {
	float: right;
}

#header .nav ul li {
	display: inline;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#header .nav ul li a {
	color: #FDD;
	float: left;
	padding: .5em .75em;
  text-decoration: none;
}

#header .nav ul li a:hover {
  background: #A00;
}

/* navigation states */

.users_new #header .nav ul li.signup a,
.user_sessions_new #header .nav ul li.login a,
.users_index #header .nav ul li.users a,
.projects_index #header .nav ul li.projects a {
  background: #800;
}

#content {
	max-width: 960px;
	background: #FFF;
	margin: 20px auto;
	border: 1em solid #300;
}

.projects_new #content,
.projects_create #content,
.projects_edit #content,
.projects_update #content,
.users_edit #content,
.users_update #content {
	width: 640px;
}

#content .actions {
  margin: 0;
  float: right;
  font-size: 1.2em;
  line-height: 1.833;	
  list-style-type: none;
}

#content .actions li {
	float: left;
}

#content .actions li a {
  float: left;  
  color: #FFF;
  padding: .5em 1em;
	background: #600;
}

#content .actions li a:hover {
  background: #300;
  text-decoration: none;
}

#content h2.profile_name {
  margin: 0;
  float: left;
	font-size: 2.4em;
  line-height: 2.75;
  padding: 0 0 0 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#content .profile {
  clear: both;
	padding: 0 20px;
}

#content .profile p {
	margin: 0 0 1.375em 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#content .profile .skills span {
  color: #900;
  background: #EEE;	
  font-style: italic;
  margin: 0 .75em 0 0;
  padding: .25em .5em;
  border: .25em solid #EEE;
}

#content .users {
	padding: 20px;
}

#content .users table th {
	white-space: pre;
}

#content .users table td.name {
	width: 125px;
}

#content .projects,
#content .profile {
  clear: both;
	padding: 20px;
}

#content .projects th {
	white-space: pre;
}

#page #extra h2 {
  color: #333;
	font-size: 2.4em;
  line-height: 1.833;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#page #extra h2 a {
  color: #900;
  text-decoration: none;
}

#page #extra h2 a:hover {
  border-bottom: 1px solid #900;
}

#page #extra h2 ins {
  font-style: italic;
}

#footer {
	text-align: center;
  padding: 0 0 20px 0;
}

#footer ul {
  font-size: 1.2em;
  line-height: 1.833;
}

#footer ul li {
  display: inline;
  margin: 0 .25em;
}

#footer a {
	color: #F33;
  display: inline;
	background: #300;
	padding: .5em .75em;
}

#footer a:hover {
  color: #F66;
  background: #200;
  text-decoration: none;
}

/* [4]:forms */

form fieldset {
	margin: 0 0 40px 0;
  padding: 0 0 10px 0;
}

form fieldset h3 {
  color: #777;
	font-size: 1.6em;
	line-height: 1.375;
  text-align: center;
  margin: 0 0 10px 0;
  font-variant: small-caps;
  letter-spacing: .171875em;
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.users_new #page,
.users_create #page,
.user_sessions_new #page,
.user_sessions_create #page {
	width: 960px;
	margin: 40px auto;
}

.users_new #extra,
.users_create #extra,
.user_sessions_new #extra,
.user_sessions_create #extra {
  margin: 0;
  float: left;
	width: 380px;
  padding: 20px;
  margin: 0 10px;
  background: #FFD;
  border: 10px solid #300;
}

.users_new #content,
.users_create #content,
.user_sessions_new #content,
.user_sessions_create #content{
  margin: 0;
  float: left;
	width: 380px;
  margin: 0 10px;
  background: #FFD;
  padding: 20px 40px;
  border: 10px solid #300;	
}

form p.instructions {
  background: #EEE;
	margin: 0 0 1.375em 0;
	padding: .6875em;
}

form#new_user label,
form#new_user_session label {
  display: block;
	font-size: 1.6em;
	line-height: 1.375;
}

form.new_project label,
form.edit_project label,
form.edit_user label {
  display: block;
  font-size: 1.2em;
  line-height: 1.833;	
}

label.required {
  font-weight: bold;
}

form#new_user .text_field,
form#new_user .password_field,
form#new_user_session .text_field,
form#new_user_session .password_field,
form#new_user_session .checkbox_field,
form.new_project .text_field,
form.new_project .textarea_field,
form.edit_project .text_field,
form.edit_project .textarea_field,
form.edit_user .text_field,
form.edit_user .textarea_field,
form.edit_user .select_field {
	margin: 0 0 1em 0;
}

form#new_user .text_field input,
form#new_user .password_field input,
form#new_user_session .text_field input,
form#new_user_session .password_field input,
form.new_project .textarea_field textarea,
form.edit_project .textarea_field textarea,
form.edit_user .textarea_field textarea {
  width: 100%;
	font-size: 1.6em;
	line-height: 1.375;  
  font-family: Georgia, "Times New Roman", Times, serif;
}

form.new_project .text_field input,
form.edit_project .text_field input,
form.edit_user .text_field input {
  width: 66%;
	font-size: 1.6em;
	line-height: 1.375;  
  font-family: Georgia, "Times New Roman", Times, serif;
}

form.new_project .textarea_field textarea,
form.edit_project .textarea_field textarea,
form.edit_user .textarea_field textarea {
  height: 200px;
}

form#new_user_session .checkbox_field label {
	display: inline;
}

form#new_user .submit_field,
form#new_user_session .submit_field,
form.new_project .submit_field,
form.edit_project .submit_field,
form.edit_user .submit_field {
	text-align: center;	
}

form#new_user .submit_field input,
form#new_user_session .submit_field input {
  width: 50%;
	color: #FFF;
  padding: 10px;
	font-size: 1.6em;
	background: #C00;
  margin: .5em 0 0 0;
	border: 5px outset #800;
  font-family: Georgia, "Times New Roman", Times, serif;
}

form#new_user .submit_field input:focus,
form#new_user_session .submit_field input:focus {
  background: #900;
	border: 5px inset #500;
}

#errorExplanation h2,
#errorExplanation p {
	display: none;
}

#errorExplanation ul {
  color: #FFF;
  background: #C00;
  padding: 1em 3em;
  font-size: 1.2em;
  line-height: 1.833;	
  list-style-type: decimal;
}

.fieldWithErrors {
  color: #F00;
}

/* [x]:clearfix */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix { height: 1%; }
*:first-child+html .clearfix { min-height: 1px; }