<div class="users clearfix">
  <div class="header clearfix">
    <div class="info">
      <h2>Volunteers</h2>
      <form action="" id="sort_users">
        <div class="select_field">
          <select>
            <option>Sort by&hellip;</option>
            <option>Availability</option>
            <option>Recently updated</option>
          </select>
        </div>
        <div class="submit_field">
          <input type="submit" name="submit" value="go" />
        </div>
      </form>
    </div>
    <div class="notes">
      This is a list of volunteers who are willing to spend time on projects.  
    </div>
  </div>
  <ul class="clearfix">
    <%= render @users %>
  </ul>
  <%= will_paginate @posts %>
</div>
