<div id="extra">
  <h2>
    <strong>Builders</strong> connects 
    <%= link_to 'volunteers', users_path -%> with <%= link_to 'projects', projects_path -%> for <ins>501c3 non-profits</ins>.
  </h2>
</div>