<div class="content">
  <div class="extra">
    <h2>
      <strong>Builders</strong> connects 
      <%= link_to 'volunteers', users_path -%> with <%= link_to 'projects', projects_path -%> for <ins>501c3 non-profits</ins>.
    </h2>
  </div>
  <div class="featured">
    <dl>
      <dt>Featured Volunteer</dt>
      <dd class="volunteer clearfix">
        <img src="/images/photo.jpg" alt="" />
        <span class="bio">
          <a href="#">
            Joe Someuser
          </a>
          <p>An excerpt from the bio goes here. An excerpt from the bio goes here. An excerpt from the bio goes here.</p>
        </span>
      </dd>
      <dt>Featured Project</dt>
      <dd class="project clearfix">
        <a href="#">
          An Awesome Project
        </a>
        <p>An excerpt from the project goes here. An excerpt from the project goes here. An excerpt from the project goes here.</p>
      </dd>
    </dl>    
  </div>
</div>