<div class="users clearfix">
  <div class="header clearfix">
    <div>
      <h2>
        <strong>Builders</strong> connects 
        <%= link_to 'volunteers', users_path -%> with <%= link_to 'projects', projects_path -%> for <ins>501c3 non-profits</ins>.
      </h2>
    </div>
  </div>

  <div class="featured_projects">
    <h2>Featured Project</h2>
    <ul>
      <li><%= link_to @featured_project.org_name, @featured_project %></li>
    </ul>
  </div>

  <div class="featured_volunteers">
    <h2>Featured Volunteer</h2>
    <ul>
      <li><%= link_to @featured_volunteer.name, @featured_volunteer %></li>
    </ul>
  </div>
</div>
