<div class="users clearfix">
We at RailsBridge value your privacy. We are a volunteer organization seeking to improve the world around us by using our knowledge of software development. As such, we will use your personal information only for purposes which relate directly to the group. This means we will not sell, trade, give away, or otherwise distribute the data you provide to us without your express consent. If at any time you choose to disinvolve yourself with RailsBridge, we promise not to contact you further. Now that the unpleasant legal-ness is out of the way, let's do some good together!
</div>
