<ul class="actions clearfix">
  <li>
    <%= link_to "Cancel Project", project_path(@project, :access_key => params[:access_key]), 
      :method  => :delete, 
      :confirm => "Are you sure?" %>
  </li>
</ul> 
<div class="projects">
  <h2>Update project</h2>
  
  <% form_for(@project) do |form| %>
    <%= hidden_field_tag(:access_key, @project.access_key) -%>
    
    <%= render :partial => 'form', :locals => {:form => form} -%>
    <div class="submit_field">
      <%= form.submit 'Update project' -%>
    </div>
  <% end %>
</div>
