<h1>New project</h1>
 
<% form_for(@project) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} -%>
  <p><%= form.submit 'Create' -%></p>
<% end %>
 
<p><%= link_to 'Back', :back -%></p>