<div class="projects">
  <h2>Create project</h2>
  <% form_for(@project) do |form| %>
    <p class="information">
      <strong>Builders</strong> connects volunteers with projects for <strong>501c3 non-profits</strong>. 
		<%= link_to_static(:about, 'Learn more') -%>.
    </p>
    <%= render :partial => 'form', :locals => {:form => form} -%>
    <div class="submit_field">
      <%= form.submit 'Create project' -%>
    </div>
  <% end %>
</div>